@use 'variables' as v;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  color: v.$mdd-text;
  background: v.$mdd-surface;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.mat-mdc-form-field,
mat-form-field {
  width: 100%;
}

.mat-mdc-raised-button,
.mat-mdc-outlined-button,
.mat-mdc-button {
  border-radius: 20px;
}
